<!--Nav Tabs-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">Stylists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/specialty">Specialties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/client">Clients</a>
  </li>
</ul>
<br><br>

<!--Body-->
<div class="row">
  <div class="col-md-4" id="sidebar">
    <form action="/stylist/new" method="post">
      <h3>Add a New Stylist</h3>
      <div class="form-group">
        <label for="stylistName">Name</label>
        <input class="form-control" name="stylistName" type="text" placeholder="First Last">
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
  <div class="col-md-8" id="content">
    <h1>Stylists</h1>
    <hr />
    @foreach (var item in Model)
    {
      <h3><a href="/stylist/@item.Id">@item.Name
      </a></h3>
      <h6><a class='update' href='/stylist/@item.Id/update'>Update</a> | <a class='delete' href="/stylist/@item.Id/delete">Delete</a></h6>
    }
  </div>
</div>
