<!--Nav Tabs-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Stylists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/specialties">Specialties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients">Clients</a>
  </li>
</ul>


<!--Body-->
<div class="row">
  <div class="col-md-4" id="sidebar">
    <form action="/stylist/new" method="post">
      <h3>Add a New Stylist</h3>
      <div class="form-group">
        <label for="stylistName">Name</label>
        <input class="form-control" name="stylistName" type="text" placeholder="First Last">
      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>
  </div>
  <div class="col-md-8" id="content">
    <h1>Stylists</h1>
    <hr />
    @foreach (var item in Model)
    {
      <h3><a href="/stylist/@item.GetStylistId()">@item.GetStylistName()
      </a></h3>  <h5><a href="/stylist/@item.GetStylistId()/delete">Delete</a></h5>
    }
  </div>
</div>
